<app-header>
  <div class="header-right" *ngIf="loginStatus">
    <div class="user-name">{{username | uppercase}}</div>
    <app-button
      [buttonText]="'logout'"
      (buttonOnClick)="logout()"
    ></app-button>
  </div>
  <div class="header-right" *ngIf="!loginStatus">
    <app-button
      [buttonText]="'login'"
      (buttonOnClick)="goToLogin()"
    ></app-button>
  </div>
</app-header>
<div class="app-root">
  <router-outlet></router-outlet>

  <!-- Modal component -->
  <!-- <app-modal [message]="'Message'" [title]="'Title'" [okButtonText]="'Ok'" [cancelButtonText]="'Cancel'"></app-modal> -->
</div>
