
<div class="search-bar">
    <app-search [placeholder]="'search'"></app-search>
</div>

<div *ngIf="isLoading$ | async; else courseList">
    <div>Loading...</div>
</div>

<ng-template #noCourses>
    <app-info *ngIf="(courses$ | async)?.length === 0 && isAdmin" [text]="'Please use &#8217;Add New Course&#8217; button to add your first course'" [title]="'Your List Is Empty'">
        <app-button [buttonText]="'add new course'" (buttonOnClick)="goToAddForm()"></app-button>
    </app-info>
</ng-template>

<ng-template #courseList>
    <app-courses-list *ngIf="(courses$ | async) as courses; else noCourses" [editable]="true" [courses]="courses"></app-courses-list>
</ng-template>